/* Could also transfer to a .module.css file so we do not have to have !important */
.awsBtn {
    --slider-height-percentage: 57% !important;
    --slider-transition-duration: 500ms !important;
    --organic-arrow-thickness: 8px !important;
    --organic-arrow-border-radius: 0px !important;
    --organic-arrow-height: 40px !important;
    --organic-arrow-color: #b2bdcc !important;
    --content-background-color: var(--bg-color) !important;
}

.temp {
    height: 100vh;
    overflow-y: scroll;
    width: 100%;
}

.arrow {
    border: solid #b2bdcc;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    width: 50px;
    height: 50px;
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.down-arrow {
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 40px;
    height: 40px;
    z-index: 2;
}

.hacker-txt {
  color: white;
  font-size: 5rem;
  font-family: "Space Mono", monospace;
  z-index: 3;
  position: relative;
}

.txt-box {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    align-items: center;
    background-color: rgba(var(--bs-dark-rgb), 0.75);
    color: white;
    border-radius: 25px;
    padding: 2rem;
    text-align: center;
    width: 75%;
}

.project-page {
    overflow: auto;
    height: 100vh;
    padding-top: 5rem;
    display: flex;
    flex-direction: column;
    padding-bottom: 7.5rem;
}

.project-img {
    max-width: 100%;
    height: auto;
    border-radius: 5%;
    width: 75%;
}

.project-name {
    z-index: 4;
    font-size: 2rem;
    color: var(--color);
    position: relative;
}

.project-name > a {
    text-decoration: none;
    position: relative;
}

.project-name:hover {
    color: var(--color-light-blue);
}

.project-txt {
    padding: 1.5rem;
    align-self: baseline;
}

.project-tags {
    margin-top: 0.5rem;
    text-align: center;
    justify-content: space-around;
    color: var(--color-light-blue);
}

.project-tag {
    border-radius: 999px;
    padding: 1rem;
    /* This is based on --color-light-blue */
    background-color: rgba(52,152,219,.1);
    margin: 0.25rem;
}

.project-arrow {
    transition: transform 0.3s ease;
}

.project-name:hover .project-arrow {
    transition: 0.2s ease;
    transform: translateY(-25%);
}

.project-hover {
    width: 60%;
    align-items: center;
    margin-bottom: 1.5rem;
    align-self: center;
}

.project-display {
    display: flex;
}

.memoji {
    max-width: 50%;
    width: 200px;
    /* height: 200px; */
    transform: translatey(0px);
    animation: float 6s ease-in-out infinite;
}

@keyframes float {
    0% {
      transform: translatey(0px);
    }
    50% {
      transform: translatey(-20px);
    }
    100% {
      transform: translatey(0px);
    }
}

.skills-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}

.skills-child {
  /* display: flex;
  margin: 10px 0 0 10px;
  width: calc(100% * (1/4) - 10px - 1px);
  justify-content: center;
  flex: 1 1 calc(25% - 20px); */
  flex: 0 0 19%; /* Set the width of each item to 19% */
  padding: 10px;
  box-sizing: border-box;
}

section {
    display: grid;
    place-items: center;
    align-content: center;
    height: 100vh;
    margin-bottom: 5rem;
}

.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 2s;
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0)
}

/* Contact */

.contact-form {
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(var(--bs-dark-rgb), 0.75);
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 40vw;
    margin-top: 5rem;
}
  
.contact-form h2 {
    margin-bottom: 20px;
    text-align: center;
    color: white;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

button[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

/* Window size changes */

@media(prefers-reduced-motion) {
    .hidden {
        transition: none;
    }
}

#cards {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;  
    max-width: 800px;
    width: calc(100% - 20px);
    justify-content: center;
    align-self: center;
}
  
#cards:hover > .home-card::after {
    opacity: 1;
}
  
.skills-area .home-card {
    width: 300px;
    height: 200px;
}

.home-card {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    position: relative;
}
  
.home-card:hover::before {
    opacity: 1;
}
  
.home-card::before,
.home-card::after {
    border-radius: inherit;
    content: "";
    height: 100%;
    left: 0px;
    opacity: 0;
    position: absolute;
    top: 0px;
    transition: opacity 500ms;
    width: 100%;
}
  
.home-card::before {
    background: radial-gradient(
      800px circle at var(--mouse-x) var(--mouse-y), 
      var(--radial-gradient-before),
      transparent 40%
    );
    z-index: 3;
}
  
.home-card::after {  
    background: radial-gradient( 
      600px circle at var(--mouse-x) var(--mouse-y), 
      var(--radial-gradient-after), 
      transparent 40% 
    );
    z-index: 1;
}
  
.home-card > .card-content {
    background-color: var(--card-color);
    border-radius: inherit;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    inset: 1px;
    padding: 10px;
    position: absolute;
    z-index: 2;
}
  
.card-image {
    align-items: center;
    display: flex;
    height: 140px;
    justify-content: center;
    overflow: hidden;
    height: 100%;
}
  
.card-image > i {
    font-size: 6em;
    opacity: 0.25;
}
  
.card-info-wrapper {
    align-items: center;
    display: flex;
    flex-grow: 1;
    justify-content: flex-start;
    padding: 0px 20px;
}
  
.card-info {
    align-items: flex-start;
    display: flex;
    gap: 10px;
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    margin: 0px;
}
  
.card-info > i {  
    font-size: 1em;
    height: 20px;
    line-height: 20px;
}
  
.card-info-title > h3 {
    color: rgb(240, 240, 240);
    font-size: 1.1em;
    line-height: 20px;
}
  
.card-info-title > h4 {
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.85em;
    margin-top: 8px;
}

/* Site Features */

.site-feature {
    background-color: transparent;
}

.site-feature:hover {
    --tw-shadow: inset 0 1px 0 0 rgba(148,163,184,.1);
    --tw-shadow-colored: inset 0 2px 0 0 var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow);
    background-color: rgba(30,41,59,.5);
    /* --tw-shadow: 0 0 #0000; */
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
}

.mx-10 {
  margin-right: 10rem !important;
  margin-left: 10rem !important;
}


@media(max-width: 1500px) {
    .project-display {
        display: contents;
    }
}

@media(max-width: 1000px) {
  body {
      align-items: flex-start;  
      overflow: auto;
  }
    
  #cards {    
      max-width: 800px;
      padding: 10px 0px;
  }
    
  .card {
      flex-shrink: 1;
      width: calc(50% - 4px);
  }
}
  
@media(max-width: 750px) {
  .skills-area .home-card {
    height: 100px;
    width: 100%;
  }
    
  /* .card-image {
      height: 80px;  
  } */
    
  .card-image > i {
      font-size: 3em;
  }
      
  .card-info-wrapper {
      padding: 0px 10px;
  }
    
  .card-info > i { 
      font-size: 0.8em; 
  }
    
  .card-info-title > h3 {
      font-size: 0.9em;
  }
  
  .card-info-title > h4 {
      font-size: 0.8em;
      margin-top: 4px;
  }

  .hacker-txt {
    font-size: 3rem;
  }

  .txt-box {
    flex-direction: column;
  }

}
  
@media(max-width: 350px) {
  .home-card {
      width: 100%;
  }
}