.site-theme-container{
    display: grid;
    grid-template-columns: max-content repeat(2, 23px);
    align-items: center;
    column-gap: 12px;
}

.theme-select-label {
    color: #b0b2c5;
    font-weight: 700;
    font-size: 16px;
    padding-right: 6x;
}
.theme-button {
    /* width: 20px;
    height: 20px; */
    border-radius: 4px;
    border: 2px solid #9da0b9;
    cursor: pointer;
    user-select: none;
    position: relative;
}
.theme-button.default {
    background: whitesmoke;
    color: rgb(20, 20, 20);
}
.theme-button.dark {
    background: #081022;
    color: #aeb1cf;
}

.theme-button:hover .hover-info.top {
    display: block;
}

.hover-info{
    /*https://stackoverflow.com/questions/3331353/transitions-on-the-css-display-property for info on delaying display */
    display:block;
    z-index: 100;
    position: absolute;
    
    background: rgb(17, 17, 17);
    color: #ced1e9;
    /* transition: color 1s;; */
    font-size: 12px;
    font-weight: 600;
    padding: 1px 4px 1px 4px;
    border-radius: 4px;
    user-select: none;

    /*center the hover box */
    left: 50%;
    transform: translate(-50%, 0);
}
.hover-info.bottom{
    top: 110%;
    display: none;
}
.hover-info.top{
    display:none;
    bottom: 120%
}